@cobalt:registry=https://hub.talkdeskapp.com:8443/repository/talkdesk-npm
@talkdesk:registry=https://hub.talkdeskapp.com:8443/repository/talkdesk-npm
@cobalt-marketplace:registry=https://hub.talkdeskapp.com:8443/repository/talkdesk-npm
@industries-packages:registry=https://hub.talkdeskapp.com:8443/repository/talkdesk-npm
registry=https://registry.yarnpkg.com
